.user{
    .a{
        display: flex;
        justify-content: center;
    }

    .a a{
        padding: 8px 16px;
         text-decoration: none;
         text-transform:uppercase;
         font-weight: 600;
         color: rgb(39, 38, 38);

         &:hover{
            text-decoration: underline;
         }
     }
     .userheader{
         background-color: #0B666A;
         height: 50px;
         display: flex;
         align-items: center;
 
         .name1 {
             
             width:15% ;
             
         }
         .num1 {
             width: 15%;
             
         }
         .address1 {

             width: 40%;
             
         }
         .mail1{

             width: 15%;
        .edit1{
             width: 15%;
        }  
             
         }
         div{
            
 
             color:white
         }
     }
     .add{
        display: flex;
        justify-content: center;
        text-decoration: none;
     }
     .addbutton{
        margin: 5px;
        padding: 8px 16px;
         text-decoration: none;
         cursor: pointer;
         background-color:#0B666A;
         color: white;
         border-radius: 5px;
         border: none;
         
     }
 }