.hotal_header{

     justify-content: space-between;
     position: relative;


          img{
            width: 100%;
            z-index: 1;
            
          }

    

        
        input{
          position: absolute;
          top: 30px;
          right: 100px;
            height: 30px;
            width: 300px;
            border: none ;
           background-color:rgb(185, 185, 185);
           border-radius: 15px 0 0 15px;
           padding-left: 15px;
        }
        button{
          position: absolute;
          top: 30px;
          right: 36px;
            border: none;
            height: 32px;
            background-color: #603814;
            color: white;
            padding-left: 10px;
            padding-right: 12px;
            border-radius: 0 15px 15px 0;
        }
    .hotal_back{
      position: absolute;
      top: 15px;
      left: 20px;
      height: 50px;
      color: #603814;
    }
}