// styles.scss
@import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap');

.login{
    width: 100vw;
    height: 100vh;
    background:linear-gradient(to bottom
    , rgba(0,0,0,0)0%,
     rgba(0,0,0,1)100%
     ),url("../../img/bg.jpg") ;
     background-size: cover;


    .top{
       .wrapper{
        padding: 40px;
           display: flex;
           align-items: center;
        //    justify-content: space-between;

           .logo{
               height: 70px;
               width: 70px;

           }
            .title{
                color: #96704E;
                font-family: Joti One;
                font-size: 50px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                position: absolute;
                left: 120px;
                a{
                    text-decoration: none;
                    color: #96704E;
                 
                 &:hover{
                    color: #603814;
                 }
                }
            }
           


       }
    }
    .container{
       width: 100%;
       height: 100%;
       position: absolute;
       top: 0;
       left: 0;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       color: white;
       

      form{
        h1{
           margin-top: 0;

        }
       width: 300px;
       height: 300px;
       padding: 30px;
       border-radius: 30px;
       background: #603814;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       opacity: 0.9;

       input{
           height: 40px;
           border-radius: 5px;
           background-color: gray;
           color: white;
           padding-left: 10px;
           margin-bottom: 11px;


           &::placeholder{
               color: lightgray;

           }
       }
       button{
           height: 40px;
           border-radius: 5px;
           background: #96704E;
           color: white;
           border: none;
           font-size: 18px;
           font-weight: 500;
           cursor: pointer;
           margin-bottom: 8px;
           margin-top: 8px;
          
       }
       span{
           color: lightgray;
           text-align: center;
           a{
               color: white;
               text-decoration: none;
           }
           }
      }
    }
}