.order{
    color: #603814;

    .hotal_back{
       top: 15px;
       left: 20px;
       height: 50px;
       color: #603814;
      }
    .order2{
        h1{
            text-align: center;
        }
    }
    hr{
        width: 80%;
        color: #603814;
        opacity: 0.5;
    }
}
