.contant{
    .contant1{
        display: flex;
        justify-content: center;
        object-fit: cover;
        .contant2 img{
            width: 400px;
            height: 400px;

            &:hover{
                filter: brightness(0.5);

            }
        }
    }
}