.list{
    width: 100%;
    overflow: hidden;
    
   
    .listTitle{
        color: #96704E;
        font-size: 20px;
        font-weight: 500;
        // background-color: black;
       
        
        
 p{
    margin-left: 30px;
    padding: 8px;
    justify-content: center;
 }
        
    }

    .wrapper{
        position: relative;

        .container{

            display: flex;
            justify-content: center;
            width: max-content;
            margin-top: 10px;
        }
    }
}